.BGDIV{
    width: 430px;
    height: 230px;
    border-radius: 30px;
    background: linear-gradient(145deg, #fff3f3, #ffffff);
    box-shadow:  13px 13px 26px #e9e9e9,
             -13px -13px 26px #ffffff;
}
.atag{
    font-size: 1.2rem;
}
